{% extends 'feira2/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <script src="{% static "js/jquery-3.6.1.min.js" %}"></script>
{% endblock %}
<!-- Bloco conteudo -->
{% block conteudo %}
    <div class="container col-6 auto ">
        <nav class="navbar bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Controle de Energia Feira do Guará</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
        <div class="container" id="atualizar">
            <form  method="post">
                {% csrf_token %}                
                    {{ form | crispy }}
                <input type="submit" class="btn btn-success" value="confirmar">
            </form>
        </div>
    </div>
{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script id="update" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script>  
  $("#id_atual").click(function(){
      $("#id_anterior").val($("#id_atual").val())
  })
</script>
{% endblock %}
